/* main styles */

.navbar_container {
  flex-grow: 1;
}

.navbar {
  left: 0 !important;
  width: 100vw !important;
  box-shadow: none !important;
}

.toolbar {
  height: 90px;
  color: #3e4143;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

/* logo styles */

.logo_container {
  display: flex;
  align-items: center;
}

.logo_icon {
  display: inline;
  width: 60px;
  margin-right: 20px;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.logo_text {
  width: 220px;
  cursor: pointer;
}

.logo_text[aria-label="sidebar logo text"] {
  width: 180px;
  margin-left: 8px;
}

/* links styles */
.list_container {
  height: 100%;
  margin: 0 auto !important;
  display: flex;
  padding: 0 !important;
}

.list_item {
  width: inherit !important;
  overflow: hidden;
  transition: 0.3s;
  list-style: none;
  cursor: pointer;
  font-size: 18px;
  padding: 0 26px !important;
  margin: 0 30px;
  color: #3a3b3c;
}

.list_item::after {
  content: "";
  position: absolute;
  inset: calc(100% - 3px) 0 0 0;
  background-color: rgb(18, 102, 102);
  scale: 0 1;
  transition:
    0.3s,
    translate 0s 0.3s;
}

.list_item:hover::after {
  translate: 0;
  transition: 0.3s;
  scale: 1;
}

.list_container:hover .list_item:has(~ .list_item:hover)::after {
  translate: 100% 0;
  transition:
    0.2s 0.2s,
    scale 0s 0.4s;
}

.list_container:hover .list_item:hover ~ .list_item::after {
  translate: -100% 0;
  transition:
    0.2s 0.2s,
    scale 0s 0.4s;
}

.list_text {
  font-family: "Lato", sans-serif;
  text-align: center;
}

.mega_menu {
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.4s ease-in-out,
    visibility 0.4s ease-in-out;
  display: flex;
  position: fixed;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background-color: #fff;
  display: none;
  padding: 30px;
  box-shadow:
    0 1px 4px rgba(34, 34, 34, 0.15),
    0 0 1px rgba(34, 34, 34, 0.25);
}

.mega_menu.active {
  opacity: 1;
  visibility: visible;
}

.list_item:hover .dropdown_menu,
.list_item:hover .mega_menu {
  display: flex;
}

.mega_menu ul {
  list-style: none;
  padding: 0;
  columns: 2;
  -moz-columns: 2 auto;
  column-count: 2;
}

.mega_menu ul li {
  padding: 8px 0;
}

.mega_menu .mega_content {
  width: 40%;
  list-style: none;
}

.mega_content p {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  margin: 0;
  color: #1b1b1c;
}

.mega_content li a {
  text-decoration: none;
  color: #3a3b3c;
  display: block;
  padding: 5px 0;
}

.mega_images {
  display: flex;
  gap: 30px;
  margin-left: auto;
}

.image {
  width: 250px;
  height: auto;
}

/* icons styles */

.icons_container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  right: 10px;
}

.icon {
  transition: color 200ms !important;
}

.icon:hover,
.icon:hover .search_icon,
.icon:hover .search_label {
  color: rgb(26, 143, 143);
}

.search_icon {
  margin: 0 14px;
  padding: 12px 2px !important;
}

.search_label {
  font-size: 16px;
}

:global(.css-1do9gth[aria-label="search"]) {
  padding: 12px 0;
}

:global(.css-4phlaq[aria-label="shopping badge"]) {
  display: inline-block !important;
}

:global(.css-4phlaq) {
  display: none !important;
}

.cart_icon,
.profile_icon,
.search_icon {
  font-size: 30px !important;
  color: rgb(78 76 74);
}

/* menu icon visibility */

:global(.css-mgcv3e-MuiButtonBase-root-MuiIconButton-root[aria-label="show more"]) {
  display: none !important;
}

.menu_icon,
.login_icon {
  font-size: 40px !important;
}

/* sidebar styles */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.nav_menu {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #ffffff;
  width: 400px;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 1000;
}

.nav_menu.active {
  left: 0;
  transition: 450ms;
}

.nav_link {
  height: 40px;
}

.nav_link,
.sub_link {
  padding: 8px 8px;
  list-style: none;
}

.nav_link a {
  font-size: 20px;
  padding: 0 16px;
}

.sub_link a {
  font-size: 18px;
  padding: 0;
}

.nav_link a,
.sub_link a {
  height: 100%;
  text-decoration: none;
  color: #151414;
  display: flex;
  align-items: center;
  border-radius: 4px;
  transition:
    0.2s color,
    0.2s background-color;
}

.nav_link a:hover {
  background-color: rgb(18, 102, 102);
  color: #fff;
}

.nav_menu_items {
  width: 100%;
  padding: 0;
}

.close_icon_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close_icon {
  cursor: pointer;
  font-size: 40px !important;
  color: #3e4143;
  margin-right: 12px;
}

.title {
  margin-left: 8px;
}

.sub_title {
  margin-left: 16px;
}

.sale {
  color: rgb(187, 19, 19);
}

.login_container {
  padding-top: 1rem;
  margin-top: 2rem;
  padding-bottom: 3rem;
  height: 100%;
  background-color: rgb(5, 134, 134);
}

.login_container a {
  height: 60px;
  margin: 0 16px;
  border-radius: 6px;
  color: #fff;
  font-size: 22px;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: 0.2s background-color;
}

/* хрен ли не работает? по приколу */

.login_container a:hover {
  background-color: rgb(18, 102, 102);
}

.login_container .sale_link:hover {
  background-color: #151414 !important;
}

/*                                */

.expand_container {
  margin-left: auto;
}

@media (max-width: 1620px) {
  .list_item {
    padding: 0 20px !important;
    margin: 0 18px;
  }
}

@media (max-width: 1408px) {
  .list_item {
    padding: 0 12px !important;
    margin: 0 12px;
  }

  .image {
    width: 220px;
    height: auto;
  }

  .mega_content li a {
    font-size: 16px;
  }

  .mega_content p {
    font-size: 22px;
  }
}

@media (max-width: 1208px) {
  :global(.css-mgcv3e-MuiButtonBase-root-MuiIconButton-root[aria-label="show more"]) {
    display: block !important;
  }

  .toolbar {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  .logo_container {
    margin: 0 auto;
  }

  .list_container {
    display: none;
  }

  .logo_icon {
    display: none;
  }

  .logo_text {
    width: 200px;
  }

  .menu_icon {
    display: block;
  }

  .toolbar {
    height: 80px;
  }
}

@media (max-width: 808px) {
  .toolbar {
    padding-left: 12px !important;
    padding-right: 0 !important;
  }

  .logo_text {
    width: 180px;
  }

  .toolbar {
    height: 70px;
  }

  .search_label {
    display: none !important;
  }

  .search_icon {
    margin: 0;
  }

  .nav_menu {
    width: 300px;
  }

  .logo_text[aria-label="sidebar logo text"] {
    width: 160px;
  }

  .login_icon {
    font-size: 30px !important;
  }

  .login_container a {
    font-size: 20px;
  }
}

@media (max-width: 608px) {
  .logo_text {
    width: 160px;
  }

  .cart_icon,
  .profile_icon,
  .menu_icon {
    font-size: 26px !important;
  }

  .search_icon {
    font-size: 26px !important;
  }

  .nav_menu {
    width: 100%;
  }

  .close_icon {
    font-size: 36px !important;
  }
}
