.header_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 40px 0 20px;
}

.header {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 50px;
  font-weight: 300;
  padding: 0 0 12px;
  margin-bottom: 0;
}

.des {
  text-align: center;
  color: #333;
  font-family: "Raleway", sans-serif;
}

.image {
  width: 100%;
  max-width: 800px;
}

.image_container:focus {
  outline: none;
}

.overlay_text {
  display: flex;
  align-items: center;
  opacity: 1;
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  z-index: 10;
  pointer-events: none;
  transition: opacity 0.4s ease;
}

.hidden {
  opacity: 0;
}

.slider_control_panel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.nav_arrow,
.nav_icon {
  font-size: 60px !important;
}

.nav_icon {
  margin: 0 10px;
  background-color: #eaeae2;
  border-radius: 50%;
  padding: 4px;
}

.comparison_slider :global(.slick-track) {
  display: flex;
  align-items: center;
  transform: translate3d(0px, 0px, 0px);
}

.comparison_slider :global(.slick-slide) {
  transform: scale(0.7);
  transition: all 0.4s ease-in-out;
  padding: 40px 0;
}

.comparison_slider :global(.slick-center) {
  transform: scale(1.2);
}

.comparison_slider :global(.slick-slide.slick-center) {
  opacity: 1;
}

.comparison_slider :global(.slick-slide:not(.slick-center)) {
  opacity: 0.5;
}
