.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  background-color: #f7f7f0;
}

.svg_globe {
  flex: 1;
  max-width: 500px;
  padding: 20px 0;
}

.text_container {
  flex: 2;
  max-width: 700px;
}

.heading {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 48px;
}

.des {
  color: #333;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  letter-spacing: 0.7px;
}

.des a {
  text-decoration: none;
  color: rgb(26, 143, 143);
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s color;
}

.des a:hover {
  color: rgb(18, 94, 94);
}

@media (max-width: 1408px) {
  .text_container {
    max-width: 600px;
  }

  .heading {
    font-size: 46px;
  }
}

@media (max-width: 1190px) {
  .svg_globe {
    max-width: 400px;
  }

  .heading {
    font-size: 42px;
  }
}

@media (max-width: 1052px) {
  .svg_globe {
    max-width: 350px;
  }

  .heading {
    font-size: 40px;
  }

  .des {
    font-size: 16px;
  }
}

@media (max-width: 940px) {
  .container {
    flex-direction: column;
  }

  .text_container {
    max-width: 700px;
  }

  .heading {
    margin: 20px 0;
  }

  .svg_globe {
    margin-top: 16px;
    padding: 0;
  }
}

@media (max-width: 808px) {
  .text_container {
    max-width: 600px;
  }

  .heading {
    font-size: 38px;
  }

  .svg_globe {
    max-width: 300px;
  }
}

@media (max-width: 690px) {
  .text_container {
    max-width: 500px;
    padding: 0 36px;
  }

  .heading {
    font-size: 36px;
  }

  .svg_globe {
    max-width: 250px;
  }
}