.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #F7F7F0;
  grid-gap: 40px;
}

.image_container {
  flex: 1;
  margin-right: 30px;
}

.image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.content_container {
  display: grid;
  flex: 2;
}

.content {
  max-width: 600px;
  justify-self: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.content_name {
  text-align: center;
  font-family: "Lato", sans-serif !important;
  padding: 0 0 12px;
}

.content_des {
  text-align: center;
  color: #333;
}
