.header {
  text-align: center;
  font-family: "Lato", sans-serif !important;
  font-weight: 400 !important;
  margin: 60px !important;
  background: linear-gradient(to right, rgb(18, 55, 65), rgb(37, 192, 192));
  background-clip: text;
  color: transparent;
}

.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: 100px 160px;
  grid-gap: 14px;
  grid-auto-flow: dense;
  margin: 0 40px;
}

.gallery_item {
  width: 100%;
  height: 100%;
  position: relative;
}

.gallery_item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.gallery_item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.gallery_item:hover .image img {
  transform: scale(1.2);
}

.gallery_item .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.gallery_item:hover .overlay {
  opacity: 1;
  transform: translateY(0);
}

.overlay_header {
  font-family: "Lato", sans-serif !important;
  font-weight: 300 !important;
  font-size: 32px !important;
  text-transform: uppercase;
  margin: 10px 0 16px 0 !important;
}

.overlay_paragraph {
  font-family: "Lato", sans-serif !important;
  font-size: 26px !important;
}

.w_1 {
  grid-column: span 1;
}
.w_2 {
  grid-column: span 2;
}
.w_3 {
  grid-column: span 3;
}
.w_4 {
  grid-column: span 4;
}
.w_5 {
  grid-column: span 5;
}
.w_6 {
  grid-column: span 6;
}

.h_1 {
  grid-row: span 1;
}
.h_2 {
  grid-row: span 2;
}
.h_3 {
  grid-row: span 3;
}
.h_4 {
  grid-row: span 4;
}
.h_5 {
  grid-row: span 5;
}
.h_6 {
  grid-row: span 6;
}

@media (max-width: 1408px) {
  .header {
    font-size: 50px !important;
    margin: 50px !important;
  }
}

@media (max-width: 1208px) {
  .container {
    grid-auto-rows: 100px 120px;
    margin: 0 30px;
  }
}

@media (max-width: 1052px) {
  .header {
    font-size: 46px !important;
    margin: 46px !important;
  }

  .container {
    grid-auto-rows: 80px 100px;
    grid-gap: 10px;
    margin: 0 26px;
  }

  .gallery_item:hover .image img {
    transform: scale(1.1);
  }
}
