.navbar_container {
  flex-grow: 1;
}

.navbar {
  box-shadow: none !important;
}

.toolbar {
  height: 90px;
  color: #3e4143;
  background-color: #fff;
}

.logo_container {
  display: flex;
  align-items: center;
}

.logo_icon {
  display: inline;
  width: 60px;
  margin-right: 20px;
}

.logo_text {
  width: 190px;
}

.list_container {
  margin: 0 auto;
  display: flex;
}

.list_item {
  cursor: pointer;
  transition: color 200ms;
}

.list_item:hover,
.list_icon {
  color: rgb(26, 143, 143);
}

.list_item:hover .list_text,
.list_item:hover .list_icon {
  color: rgb(26, 143, 143);
}

.list_text {
  font-family: "Lato", sans-serif;
}

.icons_container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  right: 10px;
}

.icon {
  transition: color 200ms !important;
}

.icon:hover,
.icon:hover .search_icon,
.icon:hover .search_label {
  color: rgb(26, 143, 143);
}

.search_icon {
  margin: 0 14px;
  padding: 12px 2px !important;
}

.search_label {
  font-size: 16px;
}

:global(.css-1do9gth[aria-label="search"]) {
  padding: 12px 0;
}

:global(.css-4phlaq[aria-label="shopping badge"]) {
  display: inline-block !important;
}

:global(.css-4phlaq) {
  display: none !important;
}

.cart_icon,
.profile_icon,
.search_icon,
.menu_icon {
  font-size: 30px !important;
  color: rgb(78 76 74);
}

@media (max-width: 1408px) {
  :global(.css-4phlaq[aria-label="show more"]) {
    display: inline-block !important;
  }

  .toolbar {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  .list_container {
    display: none;
  }

  .logo_container {
    margin: 0 auto;
  }

  .logo_icon {
    display: none;
  }

  .logo_text {
    width: 220px;
  }
}

@media (max-width: 1208px) {
  .logo_text {
    width: 200px;
  }

  .toolbar {
    height: 80px;
  }
}

@media (max-width: 808px) {
  .toolbar {
    padding-left: 12px !important;
    padding-right: 0 !important;
  }

  .logo_text {
    width: 180px;
  }

  .toolbar {
    height: 70px;
  }

  .search_label {
    display: none !important;
  }

  :global(.css-f172i) {
    display: none !important;
  }

  .search_icon {
    margin: 0;
  }
}

@media (max-width: 608px) {
  .logo_text {
    width: 160px;
  }

  .cart_icon,
  .profile_icon,
  .menu_icon {
    font-size: 26px !important;
  }

  .search_icon {
    font-size: 26px !important;
  }
}
