.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #f7f7f0;
  grid-gap: 40px;
}

.image_container {
  flex: 1;
  width: 100%;
}

.image {
  max-width: 540px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.content_container {
  display: grid;
  flex: 2;
}

.content {
  max-width: 600px;
  justify-self: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.content_name {
  text-align: center;
  font-family: "Lato", sans-serif !important;
  padding: 0 0 12px;
}

.content_des {
  text-align: center;
  color: #333;
  font-family: "Raleway", sans-serif !important;
}

.content_btn {
  min-width: 200px;
  width: 100%;
  max-width: 300px;
  background: none;
  border: 2px solid rgb(19 101 101);
  font-family: "Lato", sans-serif !important;
  text-transform: uppercase;
  padding: 12px 20px;
  margin: 10px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  align-self: center;
}

.content_btn span {
  color: rgb(19 101 101);
  position: relative;
  z-index: 10;
  transition: color 0.3s;
}

.content_btn:hover span {
  color: #fff;
}

.content_btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(26, 143, 143);
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleY(0);
}

.content_btn:hover::before {
  transform: scaleY(1);
}

@media (max-width: 1408px) {
  .content_name {
    font-size: 48px !important;
  }
}

@media (max-width: 1208px) {
  .content {
    max-width: 500px;
  }

  .content_name {
    font-size: 42px !important;
  }
}

@media (max-width: 1052px) {
  .image {
    min-width: 300px;
  }

  .content {
    max-width: 460px;
  }

  .content_name {
    font-size: 38px !important;
  }
}

@media (max-width: 808px) {
  .content {
    max-width: 460px;
  }

  .content_name {
    font-size: 42px !important;
  }

  .content_des,
  .content_btn span {
    font-size: 14px !important;
  }

  .content_btn {
    width: 0;
  }
}

@media (max-width: 690px) {
  .container {
    flex-direction: column;
    grid-gap: 30px;
  }

  .image_container {
    width: initial;
  }

  .image,
  .content {
    max-width: 420px;
  }

  .content_des,
  .content_btn span {
    font-size: 15px !important;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 24px;
  }

  .image,
  .content {
    max-width: 340px;
  }

  .content_des,
  .content_btn span {
    font-size: 14px !important;
  }

  .content_des {
    margin: 0;
  }
}
