.container {
  width: 100vw;
  height: 96vh;
  overflow: hidden;
  position: relative;
  background-color: #f7f7f0;
}

.container .slide .item {
  width: 180px;
  height: 250px;
  position: absolute;
  top: 80%;
  transform: translateY(-70%);
  border-radius: 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
  background-position: 50% 50%;
  background-size: cover;
  transition: 0.9s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
}

.slide .item:nth-child(3) {
  left: 67%;
}
.slide .item:nth-child(4) {
  left: calc(67% + 200px);
}
.slide .item:nth-child(5) {
  left: calc(67% + 400px);
}

.slide .item:nth-child(n + 6) {
  left: calc(67% + 600px);
  opacity: 0;
}

.item .content {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 400px;
  text-align: left;
  color: #fff;
  transform: translateY(-50%);
  display: none;
}

.slide .item:nth-child(2) .content {
  display: block;
}

.content .name {
  font-size: 100px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  opacity: 0;
  animation: animate 1s ease-in-out 1 forwards;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
}

.content .des {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 24px;
  margin-left: 5px;
  opacity: 0;
  white-space: wrap;
  overflow-wrap: break-word;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.content button {
  padding: 16px 26px;
  font-size: 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  opacity: 0;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
  transition: 0.5s;
}

.content button:hover {
  border-radius: 14px;
  color: rgb(26, 143, 143);
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }

  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}

.button {
  display: flex;
  gap: 10px;
  justify-content: center;
  position: relative;
  top: 80%;
}

.button button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(26, 143, 143);
  color: #fff;
  border: 2px solid #fff;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
}

.button button:hover {
  background-color: rgb(53, 185, 185);
  color: #fff;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.progress_bar {
  position: absolute;
  top: 90px;
  left: 0;
  height: 5px;
  background-color: rgb(5, 134, 134);
  animation: progress-animation 7s linear infinite;
  z-index: 1000;
  overflow: hidden;
}

@keyframes progress-animation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@media (max-width: 1408px) {
  .container {
    height: 87vh;
  }
}

@media (max-width: 1208px) {
  .container {
    height: 80vh;
  }

  .progress_bar {
    top: 80px;
  }

  .content .name {
    font-size: 90px;
  }

  .button {
    top: 90%;
    gap: 20px;
  }
}

@media (max-width: 808px) {
  .container {
    height: 70vh;
  }

  .container .slide .item {
    top: 80%;
    transform: translateY(-80%);
  }

  .progress_bar {
    top: 70px;
  }

  .item .content {
    left: 50px;
  }

  .content .name {
    font-size: 80px;
  }

  .content .des {
    font-size: 22px;
  }
}

@media (max-width: 690px) {
  .container {
    height: 65vh;
  }

  .item .content {
    top: 40%;
  }

  .content .name {
    font-size: 60px;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.7);
  }

  .content button {
    padding: 10px 15px;
    font-size: 16px;
  }

  .container {
    background-size: 213px 73px;
  }

  .item .content {
    left: 30px;
  }

  .content .des {
    max-width: 350px;
    font-size: 20px;
  }

  .slide .item:nth-child(3) {
    left: 60%;
  }
  .slide .item:nth-child(4) {
    left: calc(60% + 200px);
  }
  .slide .item:nth-child(5) {
    left: calc(60% + 400px);
  }

  .slide .item:nth-child(n + 6) {
    left: calc(60% + 600px);
    opacity: 0;
  }
}

@media (max-width: 380px) {
  .item .content {
    left: 26px;
  }

  .content .des {
    max-width: 280px;
  }

  .slide .item:nth-child(3) {
    left: 50%;
  }
  .slide .item:nth-child(4) {
    left: calc(50% + 200px);
  }
  .slide .item:nth-child(5) {
    left: calc(50% + 400px);
  }

  .slide .item:nth-child(n + 6) {
    left: calc(50% + 600px);
    opacity: 0;
  }
}
